@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

.Event-element {
  cursor : -webkit-grab;
  cursor : -moz-grab;
  cursor : -o-grab;
  cursor : grab;
  transition: all 0.5s;

  overflow-x: hidden;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .Event-element::-webkit-scrollbar {
  background-color: #ca1f56;
  color: aliceblue;
 }

.Event-element::-webkit-scrollbar-thumb{
  background-color: aliceblue;
}

#stick-top{
  margin: 0 auto;
  text-align: center;
  width: 100%;
  opacity: 1;
  background-color: #ca1f56;
  transition: 0.5s !important;

}


#stick-bottom{
  top: 100%;
  margin: 0 auto;
  width: fit-content;
  transition: 0.5s !important;
  justify-content: center;
  width: 100%;
  
  
}

#calendar, #modal, #event{
  transition: all 0.15s;
  border: 10px solid;
  border-color: transparent;
  border-width: 0px;
  border-radius: 30px;
  max-width: 5%;
  width: fit-content;
  background-color: transparent;
}

#calendar:hover , #modal:hover, #event:hover{
  scale: 130%;
  background-color: white;
  border: 10px solid transparent;
  border-radius: 30px;
  border-width: 10px;
  cursor: pointer;
}



#stick-top:hover{
  opacity: 1 !important;
  
  #TodayDate, #Date{
    text-decoration: underline;
  }
  
}

#stick-bottom:hover{
  opacity: 1 !important;
}

.grab-bing{
  border-radius: 30px !important;
}
#stick-top{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
#stick-bottom{
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
/* Hide scrollbar for IE, Edge and Firefox */
.grab-bing {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background: linear-gradient(#e57e7e 5%, #e66465 70%, #ca1f56 150%);
  transition: 0.5s;
} 

.grab-bing:hover{
  scale: 105%;
  #stick-top,#stick-bottom{
    opacity: 0.5;
  }
  
}

.grab-bing > div{
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.grab-bing:active {
  scale: 105%;
  cursor : -webkit-grabbing;
  cursor : -moz-grabbing;
  cursor : -o-grabbing;
  cursor : grabbing;
  #stick-top,#stick-bottom{
    opacity: 0.5 !important;
  }
}

#stick-top{
  padding: 1%;
}



#event-list > div > a{
  transition: all 0.15s;
}

#event-list > div > a:hover {
  text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.466);
  font-size: 115%;
  cursor: pointer;
}
/* size*/



.grab-bing{
  width: 70%;
  height: 90%;
}


@media (max-width:768px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
  .grab-bing{
    width: 70%;
    height: 90%;
  }
  #calendar, #modal, #event{
    max-width: 10%;
  }
  #calendar:hover, #modal:hover, #event:hover{
    border-width: 7px;
  }
  
}
/* size*/

.active{
  scale: 130% !important;
  background-color: white !important;
  border: 10px solid transparent !important;
  border-radius: 30px !important;
  border-width: 10px !important;
  cursor: pointer !important;
}


.Event-element >>> div{
  -webkit-user-select: none;
  user-select: none;
  padding: 5%;
  transition: all 0.5s;
  max-height: 10%;
  overflow: hidden;
}

.Event-element >>> div:hover{
  transition: all 0.3s;
  background-color: white;
  color: black;

  scale: 110%;
  max-height: fit-content;
  word-break: break-word;
  text-align: center;
}

.Event-element >>> button{
  scale: 70%;
  padding: 3%;
  background-color: #ca1f56;
  color: white;
  border-radius: 20%;
}

.Event-element >>> button:hover{
  padding: 3%;
  background-color: black;
  color: white;
}


.Event-element >>> #description{
  padding-top: 5%;
}

.Event-element >>> #timestamp{
  padding-top: 5%;
}
